.image-form-container {
  flex-flow: column;
  padding-bottom: 50px;

  .image-form-title {

  }

  .image-form-content {

    padding: 30px 20px;
    display: flex;
    max-width: 65%;
    margin: auto;

    .image-form-col-form {
      padding-left: 30px;
      padding-right: 15px;

      .form-input {
        width: 91%;
        padding: 8px 20px;
        border-radius: 8px;
        margin-right: 10px;
        outline: none;
        font-size: 18px;
        margin-bottom: 16px;
        border: 1px solid #b1b1b1;
      }

      .form-input::placeholder {
        color: #b1b1b1;
      }

      .form-text-area {
        width: 91%;
        padding: 8px 20px;
        border-radius: 8px;
        margin-right: 10px;
        outline: none;
        font-size: 18px;
        margin-bottom: 16px;
        border: 1px solid #b1b1b1;
      }

      .form-text-area::placeholder {
        color: #b1b1b1;
      }

      .form-input-button {
        background-color: var(--primary);
        color: var(--background);
        border-radius: 21px;

        height: 60px;
        font-size: 20px;
        width: 191px;
      }

      .form-input-checkbox-container {
        text-align: left;
        padding: 2px 8px;
        margin-right: 10px;
        outline: none;
        font-size: 18px;
        margin-bottom: 16px;
      }

    }

    .image-form-col-img {
      padding-left: 15px;
      border-radius: 21px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .image-form-img {
        border-radius: 21px;
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
      }
    }
  }
}